<template>
  <q-card class="event-dialog">
    <q-img :src="event.img" />

    <q-card-section>
      <div class="text-h5 text-primary ellipsis">
        {{ event.title }}
      </div>

      <div class="text-subtitle2">
        {{ event.date }}
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <div>
        {{ event.description}}
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'EventDialog',

  props: {
    event: {
      type: Object,
      required: true
    }
  }
}
</script>
