<template>
  <div class="error404 fullscreen bg-primary text-white text-center q-pa-md flex flex-center">
    <div>
      <div class="main-heading">
        404
      </div>

      <div class="text-h2">
        {{ $t('oops-nothing-here') }}
      </div>

      <q-btn
        class="q-mt-xl"
        color="white"
        text-color="primary"
        unelevated
        to="/"
        :label="$t('go-home')"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
