<template>
  <q-page class="about">
    <q-carousel
      v-model="slide"
      height="40vh"
    >
      <q-carousel-slide
        :name="$t('about')"
        img-src="img/banners/about_us.jpg"
        class="column no-wrap flex-center q-pa-xl"
      >
        <div class="absolute-center text-center text-red-4">
          <h2 class="text-h2 text-uppercase q-my-none">
            {{ $t('about') }}
          </h2>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <q-intersection transition="fade">
      <q-card flat class="q-px-xl q-pt-md">
        <q-card-section>
          <div class="text-h5 text-weight-bold text-primary">
            {{ $t('our-mission')}}
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </q-card-section>
      </q-card>
    </q-intersection>

    <q-intersection transition="fade">
      <q-card flat class="q-px-xl q-pt-none">
        <q-card-section>
          <div class="text-h5 text-weight-bold text-primary">
            {{ $t('our-vision')}}
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </q-card-section>
      </q-card>
    </q-intersection>

    <q-intersection transition="fade">
      <q-card flat class="q-px-xl q-pt-none">
        <q-card-section>
          <div class="text-h5 text-weight-bold text-primary">
            {{ $t('our-values')}}
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:

          <q-list>
            <q-item>
              <q-item-section>
                * Lorem ipsum dolor sit amet
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                * Lorem ipsum dolor sit amet
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                * Lorem ipsum dolor sit amet
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                * Lorem ipsum dolor sit amet
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
      </q-card>
    </q-intersection>

    <q-intersection transition="fade">
      <q-card flat class="q-px-xl q-pt-none">
        <q-card-section>
          <div class="text-h5 text-weight-bold text-primary">
            {{ $t('board-of-directors')}}
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:

          <q-list>
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                Founder
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                Co-Founder
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                Co-Founder
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
      </q-card>
    </q-intersection>

    <q-intersection transition="fade">
      <q-card flat class="q-px-xl q-pt-none q-pb-md">
        <q-card-section>
          <div class="text-h5 text-weight-bold text-primary">
            {{ $t('advisory-council')}}
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:

          <q-list>
            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                Advisor
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section avatar>
                <q-avatar>
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                </q-avatar>
              </q-item-section>

              <q-item-section>
                Strategist
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>
      </q-card>
    </q-intersection>
  </q-page>
</template>

<script>
export default {
  name: 'About',

  data() {
    return {
      slide: this.$t('about')
    }
  }
}
</script>
