<template>
  <q-page class="coming-soon full-height full-width text-center q-pa-md flex flex-center">
    <div class="row">
      <div class="col-12">
        <router-link :to="{ name: 'home' }">
          <q-avatar square class="header-logo">
            <img src="~assets/img/logo - inverted.jpg" :alt="appName">
          </q-avatar>
        </router-link>
      </div>

      <div class="col-12">
        <h4>{{ appName }}</h4>
      </div>

      <div class="col-12">
        <div class="text-primary">
          {{ $t('coming-soon') }}
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Constants from '../constants'

export default {
  name: 'ComingSoon',

  data() {
    return {
      appName: Constants['app-name']
    }
  }
}
</script>
