<template>
  <q-page class="contact">
    <q-carousel
      v-model="slide"
      height="40vh"
    >
      <q-carousel-slide
        :name="$t('contact')"
        img-src="img/banners/contact.jpg"
        class="column no-wrap flex-center q-pa-xl"
      >
        <div class="absolute-center text-center text-red-4">
          <h2 class="text-h2 text-uppercase q-my-none">
            {{ $t('contact') }}
          </h2>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <q-card flat class="q-px-lg q-pt-md q-pb-md">
      <q-card-section>
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <q-card class="q-pa-md q-mr-md q-mb-md">
              <q-card-section>
                <q-form
                  @submit="onSubmit"
                  @reset="onReset"
                  class="q-gutter-md"
                >
                  <q-input
                    filled
                    v-model="name"
                    :label="`${$tc('names', 1)} *`"
                    lazy-rules
                    :rules="[ val => val && val.length || $t('required-field') ]"
                  />

                  <q-input
                    filled
                    v-model="email"
                    :label="`${$t('email')} *`"
                    lazy-rules
                    :rules="[ val => val && val.length || $t('required-field') ]"
                  />

                  <q-input
                    filled
                    v-model="subject"
                    :label="`${$tc('subjects', 1)} *`"
                    lazy-rules
                    :rules="[ val => val && val.length || $t('required-field') ]"
                  />

                  <q-input
                    filled
                    v-model="message"
                    :label="`${$tc('messages', 1)} *`"
                    type="textarea"
                    lazy-rules
                    :rules="[ val => val && val.length || $t('required-field') ]"
                  />

                  <div>
                    <q-btn :label="$t('submit')" type="submit" color="primary"/>

                    <q-btn :label="$t('reset')" type="reset" color="primary" flat class="q-ml-sm" />
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
          </div>

          <div class="col-xs-12 col-md-4">
            <q-card
              class="primary-gradient-bg q-pa-md text-white"
            >
              <q-card-section class="text-center">
                <h4 class="text-h4 q-my-none">
                  {{ $t('contact') }}
                </h4>

                <div class="city">
                  {{ appCity }}
                </div>

                <div class="postal-code">
                  {{ appPostalCode }}
                </div>

                <div class="phone">
                  {{ appPhone }}
                </div>

                <div class="email-1">
                  {{ appEmail1 }}
                </div>

                <div class="email-2">
                  {{ appEmail2 }}
                </div>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import Constants from '../constants'

export default {
  name: 'Contact',

  data() {
    return {
      slide: this.$t('contact'),
      appCity: Constants['app-city'],
      appPostalCode: Constants['app-postal-code'],
      appPhone: Constants['app-phone'],
      appEmail1: Constants['app-email1'],
      appEmail2: Constants['app-email2'],
      name: '',
      email: '',
      subject: '',
      message: ''
    }
  },

  methods: {
    onSubmit() {
      //
    },

    onReset() {
      this.name = ''
      this.email = ''
      this.subject = ''
      this.message = ''
    }
  }
}
</script>
