<template>
  <q-page class="donate">
    <q-carousel
      v-model="slide"
      height="40vh"
    >
      <q-carousel-slide
        :name="$t('donate')"
        img-src="img/banners/donate.jpg"
        class="column no-wrap flex-center q-pa-xl"
      >
        <div class="absolute-center text-center text-red-4">
          <h2 class="text-h2 text-uppercase q-my-none">
            {{ $t('donate') }}
          </h2>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <q-intersection transition="fade">
      <q-card flat class="q-px-xl q-py-md">
        <q-card-section class="text-center">
          <div class="text-h4 text-weight-bold text-primary">
            {{ $t('help-make-difference')}}
          </div>

          <div class="text-subtitle1">
            {{ $t('donation-purpose') }}
          </div>
        </q-card-section>

        <q-separator></q-separator>

        <q-card-section class="q-pt-none">
          <q-card flat>
            <q-card-section class="text-center">
              <div class="text-h4 text-weight-bold text-primary">
                {{ $t('select-donation-method-below') }}
              </div>
            </q-card-section>

            <div class="row q-gutter-md justify-around">
              <q-card
                v-for="(option, index) in paymentOptions"
                :key="index"
                class="col-xs-12 col-md-3 col-lg-4 payment-option"
              >
                <q-img :src="option.icon"></q-img>

                <q-card-actions align="center">
                  <q-btn
                    flat
                    color="primary"
                    class="text-weight-bold"
                  >
                    {{ $t('proceed') }}
                  </q-btn>
                </q-card-actions>
              </q-card>
            </div>
          </q-card>
        </q-card-section>
      </q-card>
    </q-intersection>
  </q-page>
</template>

<script>
export default {
  name: 'Donate',

  data() {
    return {
      slide: this.$t('donate'),
      paymentOptions: [
        { name: this.$t('credit-debit-card'), icon: 'img/payments/bank.jpg', url: 'bank-transfer' },
        { name: 'Orange Money', icon: 'img/payments/om.png', url: 'orange-money' },
        { name: 'MTN Mobile Money', icon: 'img/payments/momo.jpg', url: 'mtn-mobile-money' }
      ]
    }
  }
}
</script>
