<template>
  <q-page class="events">
    <q-carousel
      v-model="slide"
      height="40vh"
    >
      <q-carousel-slide
        :name="$tc('events', 2)"
        img-src="img/banners/events.jpg"
        class="column no-wrap flex-center q-pa-xl"
      >
        <div class="absolute-center text-center text-red-4">
          <h2 class="text-h2 text-uppercase q-my-none">
            {{ $tc('events', 2) }}
          </h2>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <q-intersection transition="fade">
      <q-card flat class="q-px-xl q-py-md">
        <q-card-section class="text-center">
          <div class="text-h4 text-weight-bold text-primary">
            {{ $t('upcoming-events')}}
          </div>
        </q-card-section>

        <q-card-section>
          <q-carousel
            v-model="event"
            transition-prev="slide-right"
            transition-next="slide-left"
            swipeable
            animated
            control-color="primary"
            navigation
            padding
            arrows
            height="300px"
            class="bg-grey-1 shadow-2 rounded-borders"
          >
            <q-carousel-slide
              v-for="(e, index) in events"
              :key="index"
              :name="e.name"
              class="column no-wrap"
            >
              <div class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap">
                <q-img
                  v-for="(event, i) in e.chunks"
                  :key="i"
                  :src="event.img"
                  class="rounded-borders col-6 full-height cursor-pointer"
                  @click="event.show = true"
                >
                  <div class="absolute-bottom text-h4 text-center text-red-11">
                    {{ event.title }}
                  </div>

                  <q-dialog v-model="event.show">
                    <event-dialog :event="event"></event-dialog>
                  </q-dialog>
                </q-img>
              </div>
            </q-carousel-slide>
          </q-carousel>
        </q-card-section>
      </q-card>
    </q-intersection>
  </q-page>
</template>

<script>
// Components
import EventDialog from '../components/events/dialogs/Event'

export default {
  name: 'Events',

  components: {
    EventDialog
  },

  data() {
    return {
      slide: this.$tc('events', 2),
      event: 'chunk-1',
      events: [
        {
          name: 'chunk-1',
          chunks: [
            {
              show: false,
              title: this.$t('launch-besong-ngo'),
              img: 'img/banners/events.jpg',
              date: 'January 9th, 2021',
              description: 'The Besong NGO launches on January 9th, 2021'
            },
            {
              show: false,
              title: this.$t('upcoming-events'),
              img: 'img/banners/events.jpg',
              date: 'January 9th, 2021',
              description: 'All our upcoming events will be displayed here'
            }
          ]
        }
      ]
    }
  }
}
</script>
