<template>
  <q-page class="home">
    <q-carousel
      class="bg-dark"
      arrows
      animated
      :autoplay="12000"
      infinite
      swipeable
      v-model="slide"
      height="80vh"
    >
      <q-carousel-slide
        v-for="(s, index) in slides"
        :key="index"
        :name="s.title"
        :img-src="s.img"
        class="column no-wrap flex-center q-pa-xl"
      >
        <div class="absolute-bottom slide-caption text-red-11">
          <div class="text-h3">
            {{ $t(s.title) }}
          </div>
        </div>
      </q-carousel-slide>
    </q-carousel>

    <q-intersection transition="fade">
      <q-card square flat class="q-px-xl q-pb-lg about">
        <q-card flat>
          <q-card-section>
            <div class="text-h4 text-weight-bold text-primary">
              {{ $t('about') }}
            </div>

            <div class="text-subtitle2 text-weight-bold">
              {{ $t('lend-helping-hand') }}
            </div>
          </q-card-section>

          <q-card-section class="q-pt-none text-justify">
            {{ $t('what-is-besong') }}

            <div class="text-h6 q-pt-md text-weight-bold text-primary">
              {{ $tc('objectives', 2) }}:
            </div>

            <q-list class="dense">
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="radio_button_checked" />
                </q-item-section>

                <q-item-section>
                  {{ $t('provide-shelter-to-women') }}
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="radio_button_checked" />
                </q-item-section>

                <q-item-section>
                  {{ $t('creation-of-vocational-training-center') }}
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="radio_button_checked" />
                </q-item-section>

                <q-item-section>
                  {{ $t('creation-of-health-center') }}
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="radio_button_checked" />
                </q-item-section>

                <q-item-section>
                  {{ $t('setup-counselling-unit') }}
                </q-item-section>
              </q-item>
            </q-list>

            <div class="text-h6 q-pt-md text-weight-bold text-primary">
              {{ $tc('values', 2) }}:
            </div>

            <q-list class="dense">
              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="radio_button_checked" />
                </q-item-section>

                <q-item-section>
                  {{ $t('accountability') }}
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="radio_button_checked" />
                </q-item-section>

                <q-item-section>
                  {{ $t('integrity') }}
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section avatar>
                  <q-icon color="primary" name="radio_button_checked" />
                </q-item-section>

                <q-item-section>
                  {{ $t('resilience') }}
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>

          <q-card-actions align="center">
            <q-btn
              class="primary-gradient-bg text-red-2"
              size="lg"
              :label="$t('about')"
              :to="{ name: 'about' }"
            />
          </q-card-actions>
        </q-card>
      </q-card>
    </q-intersection>
  </q-page>
</template>

<script>
import Constants from '../constants'

export default {
  name: 'Home',

  data() {
    return {
      appName: Constants['app-name'],
      slide: this.$t('rekindling-hope'),
      slides: [
        { title: 'rekindling-hope', img: 'img/slides/rekindling-hope.jpg' },
        { title: 'reviving-dreams', img: 'img/slides/reviving-dreams.jpg' },
        { title: 'building-resilient-women-community', img: 'img/slides/building-a-community-of-resilient-women.jpg' },
        { title: 'hope-dream-live', img: '/img/slides/hope-dream-live.jpg' }
      ]
    }
  }
}
</script>
