// app global css in SCSS form

// Variables
@import "quasar.variables";

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-ExtraLight.ttf');
}

@font-face {
  font-family: 'OswaldBd';
  src: url('../assets/fonts/Oswald-Medium.ttf');
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'OswaldBd', sans-serif;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.header-logo {
  height: 50px;
  width: auto;
}

.primary-gradient-bg {
  background: radial-gradient(circle, #E57373 0%, $primary 100%);
}

.menu-dropdown {

  .q-btn__wrapper {
    padding-right: 0;
  }
}

// Component Styles
@import "components/links";

// Page Styles
@import "pages/404";
@import "pages/home";
@import "pages/about";
@import "pages/donate";
@import "pages/contact";
