<template>
  <q-layout view="lHh Lpr lFf">
    <q-header reveal @reveal="onRevealStateChanged" class="bg-white">
      <q-toolbar class="q-px-xl">
        <router-link :to="{ name: 'home' }">
          <q-avatar square class="header-logo">
            <img src="~assets/img/logo - inverted.jpg" :alt="appName">
          </q-avatar>
        </router-link>

        <q-space></q-space>

        <q-tabs
          outside-arrows
          mobile-arrows
        >
          <template v-for="(link, index) in links">
            <q-route-tab
              v-if="!link.children"
              :key="index"
              class="text-primary"
              no-caps
              :label="link.isPlural ? $tc(link.label, 2) : $t(link.label)"
              :to="link.route"
              exact
              exact-active-class="bf-exact-active-class"
            />

            <q-btn-dropdown
              v-else
              :key="index"
              class="menu-dropdown text-primary text-weight-bold"
              no-caps
              auto-close
              stretch
              flat
              :label="link.isPlural ? $tc(link.label, 2) : $t(link.label)"
            >
              <q-list class="text-primary">
                <q-item
                  v-for="(child, i) in link.children"
                  :key="i"
                  clickable
                  v-ripple
                  :to="child.route"
                >
                  <q-item-section>
                    {{ $t(child.label) }}
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </template>
        </q-tabs>

        <q-select
          class="q-px-md"
          v-model="lang"
          :options="langOptions"
          :label="locale"
          dense
          borderless
          emit-value
          map-options
          options-dense
        />
      </q-toolbar>
    </q-header>

    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
      <q-header elevated v-if="!reveal">
        <q-toolbar class="q-px-xl">
          <router-link :to="{ name: 'home' }">
            <q-avatar class="header-logo">
              <img src="~assets/img/logo.jpg" :alt="appName">
            </q-avatar>
          </router-link>

          <q-space></q-space>

          <q-tabs
            outside-arrows
            mobile-arrows
          >
            <template v-for="(link, index) in links">
              <q-route-tab
                v-if="!link.children"
                :key="index"
                class="text-weight-bold"
                no-caps
                :label="link.label"
                :to="link.route"
                exact
              />

              <q-btn-dropdown
                v-else
                :key="index"
                class="menu-dropdown text-weight-bold"
                no-caps
                auto-close
                stretch
                flat
                :label="link.label"
              >
                <q-list class="text-primary">
                  <q-item
                    v-for="(child, i) in link.children"
                    :key="i"
                    clickable
                    v-ripple
                    :to="child.route"
                  >
                    <q-item-section>
                      {{ child.label }}
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>
            </template>
          </q-tabs>

          <q-select
            class="q-px-md"
            v-model="lang"
            :options="langOptions"
            :label="locale"
            label-color="white"
            dense
            borderless
            emit-value
            map-options
            options-dense
          />
        </q-toolbar>
      </q-header>
    </transition>

    <q-footer class="bg-dark text-grey text-center q-pa-md">
      {{ copyright }}
    </q-footer>

    <q-page-container>
      <transition name="slide-fade">
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import Constants from '../constants'

export default {
  name: 'MainLayout',

  data () {
    return {
      links: [
        { label: 'home', route: { name: 'home' } },
        { label: 'about', route: { name: 'about' } },
        {
          label: 'programs',
          isPlural: true,
          children: [
            { label: 'accommodation', route: { name: 'accommodation' } },
            { label: 'vocational-training', route: { name: 'vocational-training' } },
            { label: 'counseling-services', route: { name: 'counseling-services' } }
          ]
        },
        { label: 'events', route: { name: 'events' }, isPlural: true },
        { label: 'donate', route: { name: 'donate' } },
        { label: 'contact', route: { name: 'contact' } }
      ],
      appName: Constants['app-name'],
      reveal: true,
      lang: this.$i18n.locale,
      langOptions: [
        { value: 'en-us', label: 'English' },
        { value: 'fr-fr', label: 'Français' }
      ]
    }
  },

  computed: {
    locale() {
      return this.$i18n.locale.toUpperCase();
    },

    copyright() {
      const year = new Date().getFullYear()

      return `${this.appName} ${year} | ${this.$t('all-rights-reserved')}`
    }
  },

  methods: {
    onRevealStateChanged(value) {
      this.reveal = value
    }
  },

  watch: {
    lang(lang) {
      this.$i18n.locale = lang
    }
  }
}
</script>
